* {
	font-family: "Ubuntu", sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	--red: #ff6b6b;
	--dark: #292f36;
	--white: #f7fff7;
	--aqua: #4ecdc4;
	--yellow: #ffe66d;
}
.red {
	color: var(--red);
}
.sec {
	background: var(--dark);
	padding-left: 2rem;
	min-height: 100vh;
}
.head-sub {
	font-size: 3rem;
}
.pad {
	padding: 2rem 2rem 1rem 1rem;
}

.ham {
	display: none;
}
.btn {
	border: none;
	outline: none;
	font-size: 1.5rem;
	background: var(--red);
	padding: 0.3rem;
	border-radius: 0.2rem;
}
.spacer {
	background: none;
	width: 100%;
	height: 10rem;
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.navBar {
	background: var(--aqua);
	height: 100vh;
}

.nav-link {
	display: block;
	text-decoration: none;
	color: #222;
	font-size: 2rem;
	margin-bottom: 1rem;
	padding-left: 0.5rem;
	transition: 0.4s;
}
.nav-link:hover {
	padding-left: 1.5rem;
	color: var(--red);
}
.active {
	color: var(--red);
}
.content {
	height: 100vh;
	overflow: auto;
}
.home {
	background-image: url(./assets/bg.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.mainTitle {
	font-size: 5rem;
	padding-top: 5rem;
	letter-spacing: 0.4rem;
}
.home > hr {
	color: var(--red);
	background: var(--red);
	width: 8rem;
	height: 7px;
	border: none;
	border-radius: 0.5rem;
}
.basicText {
	color: var(--white);
	padding-top: 3rem;
	font-size: 1.2rem;
}
.about {
	background: var(--dark);
	padding-left: 2rem;
	padding-bottom: 10rem;
}

.team {
	display: grid;
	grid-template-columns: 1fr 1fr 0.1fr;
	grid-gap: 3rem;
	text-align: center;
}

.card > img {
	width: 250px;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
}
.card > p {
	font-size: 1.5rem;
}
.card > small {
	font-size: 1rem;
	color: white;
}

.pageTitle {
	padding-top: 3rem;
	font-size: 2.8rem;
	margin-bottom: 0rem;
}

.canvas {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	margin: 4rem 0;
}
.canvas > #outImg {
	transform: scale(1.5);
}
#btnDiv {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3rem;
	padding: 2rem 5rem;
}
.btnDiv > .btn {
	margin: 2rem;
	max-width: 8rem;
}
.loader {
	display: flex;
	align-items: center;
	justify-content: center;
}
.spinner {
	height: 5rem;
	width: 5rem;
	border-right: 5px solid var(--red);
	border-radius: 50%;

	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	animation-name: spinner;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.LoadingText {
	width: 100%;
	color: white;
	font-size: 2rem;
}
